/*
 * Farcon Software
 *
 * This program is a Group Collaboration and
 * Remote Control Software, free of charge,
 * for personal or commercial use.
 *
 * Open source, code written in javafx.
 * Written by: Yuval Stein @CY3ER-C0D3R
 *
 * https://github.com/CY3ER-C0D3R/Farcon
 *
 * 2018 (c) Farcon
 */


.on-hover-copy:hover{
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #d75c37;
    content: "Copy current text to clipboard?";
}
.on-hover-save:hover{
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #d75c37;
    content: "Save current text?";
}
.on-hover-exit:hover{
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #d75c37;
    content: "Exit conversation?";
}